[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-safe"]
	path = lib/forge-safe
	url = https://github.com/hardyjosh/forge-safe
[submodule "lib/LayerZero-v2"]
	path = lib/LayerZero-v2
	url = https://github.com/JorgeAtPaladin/LayerZero-v2
	branch = lz-upgrade
